/* Crear el fondo negro transparente y centrar el popup */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 50%;
  position: relative;
  h2 {
    font-size: 2.2rem;
  }
  p {
    font-size: 1.2rem;
  }
}

.control-image-popup{
  display: flex;
  align-items: center;
}

.popup-image {
  width: 90%;
  height: auto;
  padding-bottom: 30px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}

.botones-lang {
  margin-top: 10px;
}

.btn-lang {
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  margin: 5px;
  width: 2rem;
  font-size: 1rem;
}

.btn-lang:hover {
  scale: 1.1;
  color: white;
  background-color: black;
}

.popup-btn-control {
  
  color: black;
  border: 0;
  background-color: white;
}

/* --------------------------- Medias -------------------------- */
@media (max-width: 1068px) {

  .popup-content {
    width: 60%;
    h2 {
      font-size: 2rem;
    }
    p {
      font-size: 1rem;
    }
  }

  .popup-image {
    width: 90%;
  }

}
@media (max-width: 768px) {
  .popup-content {
    width: 80%;
    h2 {
      font-size: 1.5rem;
    }
    p {
      font-size: 0.8rem;
    }
  }

  .popup-image {
    width: 90%;
  }
}